.container {
    max-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag {
    padding: 4px;
}

h2, span {
    margin: 0px 8px;
}